.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #9a8c98;
  font-family: "Mate", serif;
  font-size: 20px;
  padding: 1rem;
  }
