.labelName,
.labelPhone {
  font-size: 18px;
  font-weight: 500;
  font-family: "Mate", serif;
  color: #22223b;
}

.formInput {
  display: flex;
  margin: 10px 0px;
  font-family: "Mate", serif;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  
}

.btnSubmit {
  margin-top: 10px;
  width: auto;
  background-color: #4a4e69;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Mate", serif;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btnSubmit:hover {
  background-color: #22223b;
}