.containerContacts {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.titleContact {
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  color: #22223b;
}

.itemsContact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
  font-family: "Mate", serif;
  font-size: 18px;
  color: #22223b;
}

.itemName {
  margin-right: 20px;
}

.containerBtnDel {
  display: inline;
  padding-left: 10px;
}
.btnDelete {
  cursor: pointer;
  background-color: #4a4e69;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btnDelete:hover {
  background-color: #22223b;
}

